<div class="overlay" ng-show="loading"><img src="images/spinner.gif" class="ajax-loader"/></div>

<div class="container">

    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-left">
                <li role="presentation" ng-if="path!=''"><a href ng-click="browsePath('')">Home</a></li>
                <li><a ng-if="path!=''">{{path}}</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <tr ng-repeat="entry in entries">
                    <td>
                        <span class="glyphicon glyphicon-file" aria-hidden="true" ng-if="entry['.tag']=='file'"></span>
                        <span class="glyphicon glyphicon-folder-close" aria-hidden="true" ng-if="entry['.tag']!='file'"></span>
                        <a href ng-click="preview(entry.path_lower)" ng-if="entry['.tag']=='file'">{{entry.name | truncate}}</a>
                        <a href ng-click="browsePath(entry.path_lower)" ng-if="entry['.tag']!='file'">{{entry.name}}</a>
                    </td>
                    <td>
                        <span ng-if="entry.size">{{entry.size | bytes}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <div class="thumbnail affix" ng-if="metadata!=''">
                <img ng-if="imgSrc" data-ng-src="{{imgSrc}}" />
                <div class="caption">
                    <h3>{{metadata.name | truncate}}</h3>
                    <p ng-if="metadata.media_info.metadata.dimensions">Image size: {{metadata.media_info.metadata.dimensions.width}} x {{metadata.media_info.metadata.dimensions.height}}</p>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <p>&copy; 2015</p>
    </footer>
</div>

