<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="images/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Discovery</span>
                    <hr class="star-light">
                    <span class="skills">Explore your Dropbox storage in fun way and discover hidden gems!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Discovery is a new approach to browse your Dropbox storage.</p>
            </div>
            <div class="col-lg-4">
                <p>Explore the dungeon and find your hidden gems!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#/auth" class="btn btn-success btn-lg">
                    <i class="fa fa-download"></i> Start Discovery!
                </a>
            </div>
        </div>
    </div>
</section>